@font-face {
    font-family: Gasalt-Black;
    src: url(fonts/Gasalt-Black.ttf);
}

@font-face {
    font-family: Gasalt-Regular;
    src: url(fonts/Gasalt-Regular.ttf);
}

@font-face {
    font-family: Gasalt-Thin;
    src: url(fonts/Gasalt-Thin.ttf);
}

body{
    background-color: lightgray;
    height: 100px;
    display:grid;
    justify-items: center;
    align-items: center;
}

.container{
    background-color: white;
    display: grid;
    justify-items: center;
    width: 950px;
    height: 500px;
    justify-items: center;
    padding: 20px;
    margin: 250px;   
}

.profile-picture{
    width: 180px;
    height: 180px;
    clip-path: circle();
}

.name{
   font-family: Gasalt-Regular;
}

.bio {
    font-family: Arial, Helvetica, sans-serif;
}

.social-icon{
    width: 20px;
}